<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="8">
        <v-card prepend-icon="mdi-pencil" :title="$t('create_delivery_truck')" class="mb-2 card-content">
          <v-card-text>
            <v-form @submit.prevent="submitDeliveryTruck">
              <snackbar-notification :message="notification.message" :type="notification.type" :timeout="timeoutDuration" v-if="notificationVisible"/>

              <v-text-field
                  v-model="truckName"
                  :label="$t('attributes.truck_name')"
                  :error-messages="getErrorMessages('truckName')"
              ></v-text-field>
              <v-text-field
                  v-model="licensePlate"
                  :label="$t('attributes.license_plate')"
                  :error-messages="getErrorMessages('licensePlate')"

              ></v-text-field>
              <v-text-field
                  v-model="model"
                  :label="$t('attributes.model')"
                  :error-messages="getErrorMessages('model')"

              ></v-text-field>

              <v-select v-model="tenantId"
                        :items="tenants"
                        :label="$t('attributes.tenant')"
                        required
                        item-value="id"
                        item-title="name"
                        :error-messages="getErrorMessages('tenants')"
              ></v-select>
              <v-btn

                  block
                  color="success"
                  size="large"
                  type="submit"
                  variant="elevated"
                  class="v-btn--color-name"
              >
                {{ $t('attributes.create') }}
              </v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import SnackbarNotification from "~/components/tools/SnackbarNotification.vue";

const truckName = ref('');
const licensePlate = ref('');
const model = ref('');
const tenantId = ref(null);

const tenants = ref([]);

const config = useRuntimeConfig();
const router = useRouter();

const errorValidations = ref(null);
const notification = ref(null);
const isLoading = ref(false);
const notificationVisible = ref(false); // Add this line
const timeoutDuration = ref(parseInt(config.public.alertTimeoutDuration) || 10000);

const fetchTenants = async () => {
  try {
    const tenantsResponse = await fetchApiData(config.public.api.tenant.select);
    tenants.value = tenantsResponse.result;
  } catch (error) {
    console.error('Error fetching tenants:', error);
  }
};

const submitDeliveryTruck = async () => {
  try {

    const response = await fetchApiData(config.public.api.deliveryTruck.store, 'post', {
      truck_name: truckName.value,
      license_plate: licensePlate.value,
      model: model.value,
      tenant_id: tenantId.value,
    });

    if (!response.error) {
      router.push(config.public.url.deliveryTruck.index);
    }
    else {
      handleApiError(response, errorValidations, notification, notificationVisible, isLoading, timeoutDuration.value);
    }
    // Handle the response as needed

    // Optionally, you can redirect to another page or perform other actions
  } catch (error) {
    // Handle the error, show an error message, etc.
    console.error('Error creating delivery truck:', error);
  }
};

function getErrorMessages(inputName) {
  return errorValidations.value ? errorValidations.value[inputName] || [] : '';
}

definePageMeta({
  middleware: 'auth'
});

onMounted(() => {
  // Fetch tenants when the component is mounted
  fetchTenants();
});
</script>

<style scoped>
/* Add your custom styles here */
</style>
