<template>

  <v-container>
    <v-row class="mt-2">
      <v-col cols="12">
        <v-btn v-if="CreateUrlOrder" class="btn-right v-btn--color-name" :to="CreateUrlOrder">
          {{ $t('attributes.create') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-container>

  <delivery-truck-data :data-url-api="GetDataUrlApi" ></delivery-truck-data>

</template>

<script setup>
const config = useRuntimeConfig()

const GetDataUrlApi = ref(config.public.api.deliveryTruck.index);
const CreateUrlOrder = ref(config.public.url.deliveryTruck.create);

definePageMeta({
  middleware: 'auth'
});

</script>

<style scoped>

</style>