<template>

    <CargoData :data-url-api="GetDataUrlApi"></CargoData>

</template>

<script setup>
import {ref} from "vue";
import CargoData from "~/components/CargoData.vue";

const router = useRouter();

const config = useRuntimeConfig()

const id = ref(router.currentRoute.value.params.id);
const GetDataUrlApi = ref(`${config.public.api.deliveryTruck.detail}/${id.value}`);

definePageMeta({
  middleware: 'auth'
});

</script>

<style scoped>

</style>