<template>
  <v-alert
      :type="type ?? 'error'"
      :theme="this.$vuetify.theme.global.current.dark ? 'dark' : 'light'"
      v-if="isVisible"
      class="mb-3 ml-3 mr-3"
      transition="scroll-x-reverse-transition"
  >
    {{ message }}
  </v-alert>
</template>

<script>
export default {
  props: ['message', 'type'],
  data() {
    return {
      isVisible: true,
      config: useRuntimeConfig()
    };
  },
  mounted() {
    this.hideAfterTimeout();
  },
  methods: {
    hideAfterTimeout() {
      setTimeout(() => {
        this.isVisible = false;
      }, config.public.hideAlertNotification); // 10000 milliseconds = 10 seconds
    },
  },
};
</script>

