<template>
  <v-list-item v-if="shouldShowRoute && isNotToken()">
    <v-btn
        to="/auth/login"
        class="text-none text-subtitle-1 login-btn"
        size="small"
        variant="flat"
        link
    >
      <v-icon left>mdi-login</v-icon>
      {{ $t('attributes.login') }}
    </v-btn>
  </v-list-item>

</template>

<script setup>
import {ref, computed} from 'vue'
import {isNotToken} from "~/utils/helper";

const router = useRouter();
const config = useRuntimeConfig()

const shouldShowRoute = computed(() => {
  router.currentRoute.value
  return router.currentRoute.value.path !== config.public.url.auth.login
})

const shouldShowLoginButton = computed(() => {
  if (process.client) {
    return !localStorage.getItem('token')
  }
  return false
})
</script>

<style scoped>

</style>