<template>
    <v-row class="mb-4">
        <v-col
            cols="12"
            sm="12"
        >
            <!-- Global Data Table Component -->
            <v-data-table
                    v-model:page="page"
                    :headers="headers"
                    :items="dataBody"
                    hide-default-footer
                    class="elevation-1"
                    :no-data-text="$t('information.noDataMessage')"
            >
              <!-- Custom slot for "Edit" button -->
              <template v-slot:item.actions="{ item }">
                <slot name="actions" :item="item"></slot>
              </template>
                <!-- Pagination Section -->
                <template v-if="hasPagination" v-slot:bottom>
                    <div v-if="pageCount > 1" class="text-center pt-2">
                        <v-pagination
                                v-model="page"
                                :length="pageCount"
                        ></v-pagination>
                    </div>
                </template>
            </v-data-table>
            <slot></slot>
        
        </v-col>
    </v-row>
</template>

<script setup>
import {ref} from 'vue';


// Define component props
const props = defineProps({
    headers: {
        type: Object,
        required: true,
    },
    dataBody: {
        type: Array,
        required: true,
    },
    page: {
        type: Number,
        required: true,
    },
    pageCount: {
        type: Number,
        required: true,
    },
    hasPagination: {
        type: Boolean,
        default: true,
    },
});

console.log(props.hasPagination);

// Props received from the parent component, representing the current page
const page = ref(props.page);



// Props received from the parent component, representing the total number of pages
const pageCount = ref(props.pageCount);

// Whether to show pagination or not
const hasPagination = props.hasPagination;

</script>
