<template>

  <v-list-item
      v-if="!isNotToken()"
      link
      prepend-icon="mdi-logout"
      :title="$t('attributes.logout')"
      @click="logout"
  ></v-list-item>

</template>

<script setup>
import { sendOtpCode, logout as apiLogout } from '~/utils/api'; // Renamed imported logout function

const config = useRuntimeConfig();

/**
 * Logs out the user from the authentication session.
 * Removes the token from local storage and redirects to the login page.
 */
const logout = async () => {
  try {
    const response = await apiLogout(); // Use the renamed apiLogout function
    if (response.status === 200) {
      localStorage.removeItem('token');
      // Redirect to the login page
      navigateTo(config.public.url.auth.login); // Replace with the actual login page path
    }
  } catch (error) {
    console.error('Logout error:', error);
  }
};
</script>

<style scoped>

</style>