<template>
    <v-alert border="end" border-color="var(--main-second-color)" elevation="2" :title="title" :icon="icon"
             prominent
            >
        <slot></slot>
    </v-alert>
</template>

<script setup>


const props = defineProps({
  title: {
    type: String,
    required: false,
    default: ''
  },
  icon: {
    type: Boolean,
    required: false,
    default: '',
  }
});


</script>

<style scoped>
/* Add component-specific styles here if needed */
</style>
