<template>
    <v-switch
            color="purple"
            :label="switchLabel"
            hide-details
            @change="toggleTheme"
            v-model="isDarkTheme"
    />
</template>

<script>
export default {
  name: "ModePage",
    data() {
        return {
            isDarkTheme: localStorage.getItem("theme") === "dark",
        };
    },
    computed: {
        switchLabel() {
            return this.$t("mode_page.dark");
            // return this.isDarkTheme ? this.$t("mode_page.light") : this.$t("mode_page.dark");
        },
    },
  methods: {
    toggleTheme() {
      const newTheme = this.$vuetify.theme.global.current.dark ? 'light' : 'dark';
      this.$vuetify.theme.global.name = newTheme;
      localStorage.setItem('theme', newTheme);  // Save the theme to localStorage
    },
  },
};

</script>


<style scoped>

</style>