<template>
  <div class="text-center icon-bar">
    <v-menu
        v-model="menu"
        :close-on-content-click="false"
        location="end"
    >
      <template v-slot:activator="{ props }">
        <v-btn
            v-bind="props"
        >
          <v-icon>mdi-cog-outline</v-icon>
<!--          <v-list-item-->
<!--              prepend-avatar="https://cdn.vuetifyjs.com/images/john.jpg"-->
<!--          ></v-list-item>-->
        </v-btn>
      </template>

      <v-card min-width="300">

        <v-list>
          <btn-login v-if="!pc"></btn-login>

          <v-list-item link>
            <mode-page />
          </v-list-item>

          <logout />

        </v-list>

      </v-card>
    </v-menu>
  </div>
</template>
<script>
import ModePage from "~/components/tools/ModePage.vue";
import BtnLogin from "~/components/tools/btnLogin.vue";
import Logout from "~/components/tools/logout.vue";

export default {
  components: {Logout, BtnLogin, ModePage},
  data: () => ({
    fav: true,
    menu: false,
    message: false,
    hints: true,
  }),
  props: ['pc']
}
</script>