<template>

  <v-snackbar
      :timeout="timeout ?? 10000"
      :color="type ?? ''"
      elevation="24"
      :theme="this.$vuetify.theme.global.current.dark ? 'dark' : 'light'"
      v-model="snackbar"
  >
    {{ message }}
  </v-snackbar>

</template>

<script>
export default {
  props: ['message', 'type', 'timeout'],
  data() {
    return {
      isVisible: true,
      snackbar: true,
    };
  }
};
</script>

