<template>
    <page-loader></page-loader>
  <v-container>
    <v-row>
      <v-col cols="12" md="12">
        <v-card prepend-icon="mdi-eye" :title="dataTruck.truck_name" class="mb-2 card-content">
          <global-data-table :page-count="pageCount" :page="page" :data-body="dataCargo"
                             :headers="headers" :has-pagination="false">
          </global-data-table>
        </v-card>
      </v-col>
    </v-row>

  </v-container>
</template>

<script setup>
import { useI18n } from 'vue-i18n';
import { ref, onMounted } from 'vue';
import { fetchApiData } from '~/utils/apiHandler';
import PageLoader from "~/components/pages/PageLoader.vue";
import GlobalDataTable from "~/components/tools/GlobalDataTable.vue";

const router = useRouter();

const { t } = useI18n();

const dataCargo = ref([]);
const dataTruck = ref([]);
const page = ref(1);
const pageCount = ref(1);
const config = useRuntimeConfig()
const headers = ref([
    { align: 'start', key: 'client', sortable: false, title: t('attributes.client') },
    { title: t('attributes.tenant'), key: 'tenant' },
    { title: t('attributes.status'), key: 'status' },
]);

const props = defineProps({
    dataUrlApi: {
        type: String,
        required: true,
    },
});

async function fetchData() {
    try {
        const fetchData = await fetchApiData(props.dataUrlApi);
        if (!fetchData.error) {
            dataTruck.value = fetchData.result.truck
            dataCargo.value = fetchData.result.cargos;
        }
    } catch (error) {
        console.error('Error fetching data:', error);
    }
}



onMounted(fetchData);

</script>
