<template>
    <pageloader></pageloader>
  <v-container>
    <v-row>
      <v-col cols="12" md="12">
        <v-card prepend-icon="mdi-eye" :title="$t('attributes.delivery_truck')" class="mb-2 card-content">
          <global-data-table :page-count="pageCount" :page="page" :data-body="data"
                             :headers="headers">
            <template v-slot:actions="{ item }">
              <v-icon @click="detailItem(item)">mdi-eye</v-icon>
            </template>
          </global-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { useI18n } from 'vue-i18n';
import { ref, onMounted } from 'vue';
import { fetchApiData } from '~/utils/apiHandler';
import PageLoader from "~/components/pages/PageLoader.vue";
import GlobalDataTable from "~/components/tools/GlobalDataTable.vue";

const router = useRouter();

const { t } = useI18n();

const data = ref([]);
const page = ref(1);
const pageCount = ref(1);
const config = useRuntimeConfig()
const headers = ref([
    { align: 'start', key: 'truck_name', sortable: false, title: t('attributes.truck_name') },
    { title: t('attributes.license_plate'), key: 'license_plate' },
    { title: t('attributes.model'), key: 'model' },
    { title: t('attributes.tenant'), key: 'tenant' },
    { title: t('attributes.actions'), key: 'actions', sortable: false },

]);

const props = defineProps({
    dataUrlApi: {
        type: String,
        required: true,
    },
});

async function fetchData() {
    try {
        const fetchData = await fetchApiData(props.dataUrlApi);

        if (!fetchData.error) {
            pageCount.value = fetchData.result.pagination.total_pages;
            page.value = fetchData.result.pagination.current_page;
            data.value = fetchData.result.delivery_truck;
        }
    } catch (error) {
        console.error('Error fetching data:', error);
    }
}

const detailItem = (item) => {
  // Assuming '/users/order/details/' is a valid route and item.key is the dynamic part of the URL
  const url = config.public.url.deliveryTruck.details +'/' + item.key;

  // Navigate to the specified URL
  router.push(url);
};


onMounted(fetchData);

</script>
