<template>
    <page-loader></page-loader>
  <v-container>
    <v-row>
      <v-col cols="12" md="12">
        <v-card prepend-icon="mdi-eye" :title="$t('attributes.tenant')" class="mb-2 card-content">
          <global-data-table :page-count="pageCount" :page="page" :data-body="dataTenant"
                             :headers="headers">
          </global-data-table>
        </v-card>
      </v-col>
    </v-row>

  </v-container>
</template>

<script setup>
import { useI18n } from 'vue-i18n';
import { ref, onMounted } from 'vue';
import { fetchApiData } from '~/utils/apiHandler';
import PageLoader from "~/components/pages/PageLoader.vue";
import GlobalDataTable from "~/components/tools/GlobalDataTable.vue";

const router = useRouter();

const { t } = useI18n();

const dataTenant = ref([]);
const page = ref(1);
const pageCount = ref(1);
const config = useRuntimeConfig()
const headers = ref([
    { align: 'start', key: 'name', sortable: false, title: t('attributes.name') },
    { title: t('attributes.domain'), key: 'domain' },
]);

const props = defineProps({
    dataUrlApi: {
        type: String,
        required: true,
    },
});

async function fetchData() {
    try {
        const fetchData = await fetchApiData(props.dataUrlApi);
        if (!fetchData.error) {
            pageCount.value = fetchData.result.pagination.total_pages;
            page.value = fetchData.result.pagination.current_page;
            dataTenant.value = fetchData.result.tenant;
        }
    } catch (error) {
        console.error('Error fetching data:', error);
    }
}


onMounted(fetchData);

</script>
