@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANSansWeb(FaNum)_Light.acwoff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

body, header, nav, div, a, p, button, span {
    font-family: IRANSans, "Helvetica Neue", "Roboto Light" !important;
    font-size: 14px !important;
    /*text-align: right;*/
    /*direction: rtl;*/
}

/*
F06543
E8E9EB
E0DFD5
313638
F09D51
*/
:root{
    --main-color: #d3ba01;
    /*--main-second-color: #F09D51;*/
    --main-second-color: #a2941b;
    --main-second-color-opacity: rgba(211, 186, 1, 0.66);
    --shadow-main-color: rgba(240, 101, 67, 0.11);
    --border-color: #80710a;
    --main-color-opacity: rgba(211, 186, 1, 0.58);

    --dark: #313638;
    --shadow-dark: rgba(49, 54, 56, 0.33);
    --dark-color: #3c4244;
    --dark-gradient: linear-gradient(-45deg, #3c4244 0%, #464c4e 100% );
    --light: #fffffe;
    --light-color: #E8E9EB;
    --light-gradient: linear-gradient(222deg, #E8E9EB 0%, #E8E9EB 100% );
    /*#df8264 ,dd6e4b*/
}

body {
}

.app-bar header .v-btn svg, .app-bar header .v-btn i {
    font-size: 36px !important;
}

/**
 * dark theme
 *  --------
 */

/*.v-theme--dark {*/
/*    background: none !important;*/
/*}*/

.v-application.v-theme--dark,
.v-theme--dark .v-data-table .v-table__wrapper > table > thead > tr th,
.v-theme--dark .v-data-table .v-table__wrapper > table > tbody > tr td,
.v-theme--dark .v-table {
    background-color: var(--dark) !important;
    color: var(--light-color) !important;
}

.v-theme--dark.default-card {
    background-color: var(--dark) !important;
    color: var(--light-color);
}


.v-theme--dark .color-content, .v-theme--dark .v-expansion-panel {
    background: var(--dark-gradient) !important;
    color: var(--light-color) !important;
}

.v-theme--dark .app-bar header .v-btn svg, .app-bar header .v-btn i {
    color: #7e7e76;
}

.v-theme--dark .app-bar header {
    background-color: var(--dark) !important;
}

.v-theme--dark .main-contain-app .card-content {
    background: var(--dark-gradient) !important;
    transform: translate3d(0px, 0px, 0) scale(0.95) !important;
    color: var(--light-color);
}

.v-theme--dark .main-contain-pc .card-content {
    background: var(--dark-gradient) !important;
    transform: translate3d(0px, 0px, 0) scale(0.95) !important;
    color: var(--light-color);
}
.v-theme--dark .theme-default {
    background: var(--dark-gradient) !important;
    color: var(--light-color);
}

.remove-background  {
    background: none !important;
}

.v-theme--dark .main-contain-app-slider .card-slider,.v-theme--dark .card-app {
    background: var(--dark-gradient);
}

.v-theme--dark .v-overlay__content .v-card--variant-elevated {
    background: var(--dark-gradient) !important;
    color: var(--light-color) !important;
}

.v-theme--dark, .v-theme--dark label , .v-theme--dark p, .v-theme--dark h1, .v-theme--dark h2, .v-theme--dark h3, .v-theme--dark b , .v-theme--dark div {
    color: var(--light-color);
}

/* pc */

.v-theme--dark .v-app-bar , .v-theme--dark .main-contain-pc .pc-nav, .v-theme--dark.pc-nav,.v-theme--dark .default-btn-color {
    background-color: var(--dark) !important;
    color: var(--light-color) !important;
}



/*.v-theme--dark .v-card--reveal {*/
/*    background: var(--dark-gradient) !important;*/
/*}*/
/*-- end */

/**
* -------end dark theme------
*/

/**
 * light theme
 *  --------
 */

/*.v-theme--light{*/
/*    background: none !important;*/
/*}*/

.v-application.v-theme--light,
.v-theme--light .v-data-table .v-table__wrapper > table > thead > tr th,
.v-theme--light.v-data-table .v-table__wrapper > table > tbody > tr td,
.v-theme--light .v-table  {
    background-color: var(--light) !important;
    color: var(--dark-color);
}

.v-theme--light.default-card {
    background-color: var(--light) !important;
    color: var(--dark-color);
}

.v-theme--light.bg-error .v-alert__content,.v-theme--light.bg-error .v-alert__prepend i,
.v-theme--light.bg-success .v-alert__content,.v-theme--light.bg-success .v-alert__prepend i{
    color: var(--light-color) !important;
}

.v-theme--light .color-content, .v-theme--light .v-expansion-panel {
    background: var(--light-gradient) !important;
    color: var(--dark-color) !important;
}

.otp-login.v-theme--light, .otp-login .v-theme--light{
   background: none !important;
}

.v-theme--light .app-bar header .v-btn svg, .app-bar header .v-btn i {
    color: #232323;
}

.v-theme--light .app-bar header {
    background-color: var(--light) !important;
}

.v-theme--light .v-app-bar , .v-theme--light .main-contain-pc .pc-nav, .v-theme--light.pc-nav, .v-theme--light .default-btn-color {
    background-color: var(--light) !important;
    color: black !important;
}

.v-theme--light .main-contain-app .card-content {
    background: var(--light-gradient) !important;
    transform: translate3d(0px, 0px, 0) scale(0.95) !important;
    color: var(--dark-color);
}

.v-theme--light .main-contain-pc .card-content{
    background: var(--light-gradient) !important;
    transform: translate3d(0px, 0px, 0) scale(0.95) !important;
    color: var(--dark-color);
}
.v-theme--light .theme-default {
    background: var(--light-gradient) !important;
    color: var(--dark-color);
}

.v-theme--light .main-contain-app-slider .card-slider, .v-theme--light .card-app  {
    background: var(--light-gradient) !important;
}

.v-theme--light .v-overlay__content .v-card--variant-elevated {
    background: var(--light-gradient) !important;
    color: var(--dark-color) !important;
}

.v-theme--light, .v-theme--light label , .v-theme--light p, .v-theme--light h1, .v-theme--light h2, .v-theme--light h3 , .v-theme--light b, .v-theme--light div, .v-theme--light button  {
    color: var(--dark-color);
}

.v-theme--light .v-card--variant-elevated {
    box-shadow: 0px 2px 1px -1px rgb(203 203 203 / 20%), 0px 1px 1px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
    0px 1px 3px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
}

/*.v-theme--light .v-card--reveal {*/
/*    background: var(--light-gradient) !important;*/
/*}*/

/**
* -------end light theme------
*/

.alert-app{
    background: var(--main-second-color) !important;
    border-radius: 8px !important;
}

.alert-app .v-alert__content{
    color: var(--light-color) !important;
}

.v-card .v-list--one-line {
    background: none !important;
}

.main-contain-app .card-content {
    margin-bottom: 22px !important;
    /*height: 740px !important;*/
}

.btn-right {
    float: right !important;
    right: 28px !important;
    /*background: var(--light-color) !important;*/

}


/*.btn-right i {*/
/*    color: var(--dark-color) !important;*/
/*}*/

/**
* top menu
* --------
*/
.app-menu {
    height: 130px !important;
    box-shadow: none !important;
}

.app-menu .v-app-bar-title, .app-menu .v-toolbar__content .icon-bar button .v-btn__content i,.app-menu .v-toolbar-title__placeholder {
    font-size: 32px !important;
    color: var(--main-color) !important;
}

.app-menu .v-app-bar-title, .app-menu .v-toolbar__append {
    margin-top: 62px !important;
}

/**
* ----- end top menu -----
*/

/* center box */
.center-btn {
    background-color: var(--main-color) !important;
    height: 75px !important;
    margin: 5px !important;
    border-radius: 50% !important;
    border: solid var(--border-color)  2px !important;
}

.center-btn svg {
    color: #ffffff !important;
}

.center-btn .v-btn__content {
    padding-right: 11px !important;
    padding-left: 11px;
}

/*-----*/

.v-btn--selected svg, .main-color {
    color: var(--main-color) !important;
}

.v-btn--selected.center-btn {
    background-color: #ffffff !important;
    border: var(--main-color) solid 2px !important;
}

.v-btn--active > .v-btn__overlay, .v-btn[aria-haspopup=menu][aria-expanded=true] > .v-btn__overlay {
    opacity: 0 !important;
}

.main-contain-app-slider {
    /*margin-top: 100px !important;*/
}

.main-contain-app-slider .card-slider ,.card-app {
    /*height: 230px !important;*/
    width: 200px !important;
    border-radius: 14px !important;
}

.card-service {
    min-height: 230px !important;
    height: auto !important;
}

.main-contain-app-slider.v-sheet {
    background: none !important;
}

.main-contain-app-slider.elevation-8 {
    box-shadow: none !important;
}

.default-card, .main-contain-app {
    max-width: 100% !important;
    margin-top: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

.main-contain-app .v-main {
    padding-top: 0px !important;
}

/**
 * pc style
 */

.page-header .v-toolbar__content .icon-bar button .v-btn__content i , .page-header .v-toolbar-title__placeholder {
    font-size: 22px !important;
    color: var(--main-color) !important;
}

.app-bar .setting-avatar .v-avatar.v-avatar--density-default {
    width: 36px;
    height: 36px;
}

.setting-avatar {
    cursor: pointer !important;
    margin: 0px !important;

}

.page-header .v-toolbar__content .icon-bar button {
    min-width: 0px;
    padding: 0 13px;
}

.page-header {
    height: 80px !important;
    box-shadow: none !important;
}

.page-header .v-toolbar__content {
    margin-top: 6px !important
}

.list-nav-pc .v-list-item--nav:not(:only-child) {
    margin-bottom: 30px !important;
}

.pc-slider {
    max-width: 90% !important;
}

.show-service .v-img__img--contain , .card-content .v-img__img--contain {
    object-fit: cover !important;
}

.main-contain-pc {
    margin: 135px 90px !important;
    background: none !important;
    box-shadow: none !important;
}

.remove-width {
    width: auto !important;
}

.main-contain-pc main {
    padding: 0 !important;
}

.list-nav-pc .v-list-item--active .v-icon--size-default, .list-nav-pc .v-list-item--active .v-list-item-title {
    color: var(--main-color) !important;
}

main .card-content {
    border-radius: 20px;
}

/*----- end pc style -------*/

.post-slider.elevation-24 {
    box-shadow: none !important;
}

.post-slider.v-card--variant-elevated {
    background: none !important;
    border-radius: 0px !important;
}

.img-post-slider,.post-slider img{
    height: 100% !important;
}

.v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .9;
    position: absolute;
    width: 100%;
    background: var(--main-color) !important;
}

.v-card--reveal-shadow {
    align-items: center;
    bottom: 0;
    justify-content: center;
    position: relative;
    width: 100%;
    /*background: var(--shadow-main-color) !important;*/
    background: var(--shadow-dark) !important;
}

.img-hover .v-responsive__content,.img-hover .v-responsive__content .v-card--reveal-shadow {
    height: 100% !important;
}

.img-hover .v-responsive__content .v-card--reveal-shadow .hover-content{
    width: 100%;
}

.v-card--reveal-shadow .slider-text{
    color: var(--dark-color) !important;
}

.slider-text{
    margin: 25px !important;
}
.slider-text-badge {
    margin-top: -14px !important;
}

.style-section {
    /*padding-bottom: 24px !important;*/
    margin-top: -60px !important;
    margin-right: 60px !important;
}

.v-card--reveal .slider-text {
    color: var(--light-color) !important;
}

.slider-text-badge .v-chip__content {
    color: var(--main-second-color) !important;
    font-weight: bold;
}

.v-card-text {
    line-height: 2.4 !important;
    font-size: 15px !important;
}

.v-card-title {
    font-size: 16px !important;
    font-weight: 700 !important;
}

.app-bar header{
    position: fixed !important;
}

.v-btn--color-name {
    background: var(--main-second-color) !important;
    color: var(--light-color) !important;
}

.v-btn--color-text-icon i, .v-btn--color-text-icon, .color-second-main, .color-second-main i, .color-second-main span{
    color: var(--main-second-color) !important;
}

.title-style {
    /*padding-bottom: 0px !important;*/
    /*padding-top: 0px !important;*/
    overflow: initial !important;
    padding: 0px 10px !important;
    font-size: 14px !important;
}

.bg-success i, .bg-danger i, .bg-danger a, .bg-sucsses a,.bg-success div,.bg-danger div,
.v-btn--color-name i, .v-btn--color-name a, v-btn--color-name div
{
    color: white !important;
}

.v-messages__message {
    margin-top: 6px !important;
    margin-bottom: 10px !important;
    color: var(--v-theme-error) !important;
}

.login .headline{
    font-size: 1.4rem !important;
}

.login .v-card-subtitle{
    white-space: unset !important;
    line-height: 1.9 !important;
    font-weight: bold;
}

.v-theme--dark .login .v-card-subtitle{
  color: var(--light) !important;
}
.v-theme--light .login .v-card-subtitle{
    color: var(--dark) !important;

}

.title-card, .title-card i {
    font-size: 20px !important;
    font-weight: bold !important;
}

.main-contain-app{
    margin: 135px 0px !important;
}

.main-contain-pc {
    margin-right: 60px !important;
    margin-left: 60px !important;
}

.main-contain-pc .login {
    /*margin: 85px 0px !important;*/
}
.main-contain-app .login {
    margin: 0px 7px !important;
}

.login-btn {
    background: var(--main-color) !important;
}

.login-btn i,.login-btn,.btn-color,.btn-color i,.tab-post.v-slide-group-item--active,.tab-post.v-slide-group-item--active i{
    color: var(--light-color) !important;
}

.btn-color {
    background: var(--main-color) !important;
}

.tab-post.v-slide-group-item--active{
    background: var(--main-color) !important;
}

.tab-post.v-tab--selected .v-tab__slider {
    opacity: 0 !important;
}

.img-card-content {
    height: 60% !important;
    margin: 11px 11px 0px 11px !important;
    border-radius: 10px !important;

}

.img-card-content .v-responsive__sizer{
    height: 152px !important;
}

.card-app p {
    line-height: 1.5 !important;
    margin-bottom: 8px !important;
}

.text-section-card {
    color: var(--main-second-color) !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-size: 18px;
    height: 100% !important;
}

.style-text-section {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    top: -41px !important;
    position: relative !important;
}

.card-into-card {
    background-image: none !important;
    box-shadow: 0px 0px 0px 0px !important;
    border-radius: 4px !important;
}
/* tablet size 768 to 1024 */
@media only screen and (min-width: 768px) and (max-width: 1025px) {

    .app-bar header {
        height: 70px !important;
    }
    .app-bar header .v-btn svg, .app-bar header .v-btn i {
        font-size: 22px !important;
    }

    .center-btn {
        height: 56px !important;
        margin: 8px !important;
    }

    .v-bottom-navigation .v-bottom-navigation__content > .v-btn {
        max-width: 61px !important;
        min-width: 54px !important;
    }

    .app-bar button .v-btn__content {
        padding-right: 20px !important;
        padding-left: 20px;
    }

}

@media (min-width: 1024px) and (max-width: 1140px) {
    .file-card .v-col-sm-4 {
        flex: auto !important;
        max-width: initial !important;
    }
}

/* mobile size */
@media (max-width: 768px) {
    .app-bar header {
        border-radius: 0 0 0 0;
        /*border-top: solid 1px #3f3f3f;*/
        height: 150px !important;
    }

    .center-btn {
        height: 95px !important;
        margin: 5px !important;
    }

    .v-bottom-navigation .v-bottom-navigation__content > .v-btn {
        max-width: 187px !important;
        min-width: 100px !important;
    }

    .main-contain-app-slider {
        /*margin-top: 132px !important;*/
    }

    .main-contain-app-slider .card-slider, .card-app {
        /*height: 210px !important;*/
        /*width: 165px !important;*/
    }

    .card-service {
        min-height: 210px !important;
        height: auto !important;
    }

    .main-contain-app .card-content {
        /*height: 600px !important;*/
    }

    .v-col-auto {
        width: 100% !important;
    }

    .slider-text-badge .v-chip__content {
        font-size: 11px !important;
    }

    .slider-text-badge {
        margin-top: -6px !important;
    }

    .style-section {
        margin-top: -57px !important;
        margin-right: 43px !important;
    }

}

/* Styles for devices with a width of 540px */
@media only screen and (max-width: 541px) {
    .app-bar header {
        height: 130px !important;
    }

    .app-bar header .v-btn svg, .app-bar header .v-btn i {
        font-size: 32px !important;
    }

    .v-bottom-navigation .v-bottom-navigation__content > .v-btn {
        max-width: 170px !important;
        min-width: 83px !important;
    }

    .app-menu .v-app-bar-title, .app-menu .v-toolbar__content .icon-bar button .v-btn__content i,.app-menu .v-toolbar-title__placeholder  {
        font-size: 26px !important;
    }

    .app-menu .v-app-bar-title, .app-menu .v-toolbar__append {
        margin-top: 48px !important;
    }

    .app-menu {
        height: 110px !important;
    }

    .center-btn {
        height: 81px !important;
    }

    .main-contain-app .card-content {
        /*height: 500px !important;*/
    }

    /*.main-contain-app-slider .card-slider,.card-app {*/
    /*    height: 159px !important;*/
    /*    width: 114px !important;*/
    /*    margin: 12px !important;*/
    /*}*/

}

/*  481px  */
@media only screen and (max-width: 481px) {
    .app-bar header {
        height: 125px !important;
    }


    .v-bottom-navigation .v-bottom-navigation__content > .v-btn {
        max-width: 167px !important;
        min-width: 80px !important;
    }

    .main-contain-app .card-content {
        /*height: 460px !important;*/
    }

    /*.main-contain-app-slider .card-slider,.card-app {*/
    /*    height: 147px !important;*/
    /*    width: 102px !important;*/
    /*    margin: 10px !important;*/
    /*}*/
}

/*  iPhone XR/11/11 Pro Max */
@media only screen and (max-width: 415px) {
    .app-bar header {
        height: 110px !important;
    }

    .app-bar header .v-btn svg, .app-bar header .v-btn i {
        font-size: 26px !important;
    }

    .v-bottom-navigation .v-bottom-navigation__content > .v-btn {
        max-width: 146px !important;
        min-width: 58px !important;
    }

    .app-menu .v-app-bar-title, .app-menu .v-toolbar__content .icon-bar button .v-btn__content i,.app-menu .v-toolbar-title__placeholder  {
        font-size: 24px !important;
    }

    .main-contain-app .card-content {
        /*height: 400px !important;*/
    }

    /*.main-contain-app-slider .card-slider,.card-app {*/
    /*    height: 136px !important;*/
    /*    width: 91px !important;*/
    /*    margin: 8px !important;*/
    /*}*/

}

@media only screen and (max-width: 394px) {
    .app-bar header {
        height: 120px !important;
    }

    .center-btn {
        height: 69px !important;
        margin: 3px !important;
    }

    .center-btn .v-btn__content {
        padding-right: 7px !important;
        padding-left: 7px;
    }

    /*.main-contain-app-slider .card-slider,.card-app {*/
    /*    height: 129px !important;*/
    /*    width: 84px !important;*/
    /*}*/

}

/*  iPhone X/XS/11 Pro */
@media only screen and (max-width: 375px) {
    .app-bar header {
        height: 110px !important;
    }

    .v-bottom-navigation .v-bottom-navigation__content > .v-btn {
        max-width: 60px !important;
        min-width: 30px !important;
    }

    .center-btn {
        height: 60px !important;
        margin: 3px !important;
    }

    .app-menu .v-toolbar__content .icon-bar button {
        min-width: 0px;
        padding: 0 8px;
    }

    .app-menu {
        height: 90px !important;
    }

    .app-menu .v-app-bar-title, .app-menu .v-toolbar__append {
        margin-top: 35px !important;
    }

    .app-menu .v-app-bar-title, .app-menu .v-toolbar__content .icon-bar button .v-btn__content i,.app-menu .v-toolbar-title__placeholder  {
        font-size: 20px !important;
    }

    /*.main-contain-app-slider .card-slider,.card-app {*/
    /*    height: 127px !important;*/
    /*    width: 82px !important;*/
    /*    margin: 6px !important;*/
    /*}*/

    .app-bar .setting-avatar .v-avatar.v-avatar--density-default {
        width: 34px;
        height: 34px;
    }
}

/*  Samsung Galaxy S9/S10 */
@media only screen and (max-width: 360px) {
    .main-contain-app .card-content {
        /*height: 350px !important;*/
    }

    /*.main-contain-app-slider .card-slider,.card-app {*/
    /*    height: 123px !important;*/
    /*    width: 78px !important;*/
    /*}*/
}

/*  iPhone 5/SE */
@media only screen and (max-width: 321px) {
    .v-bottom-navigation .v-bottom-navigation__content > .v-btn {
        max-width: 45px !important;
        min-width: 15px !important;
    }

    .app-bar header {
        height: 90px !important;
    }

    .app-bar header .v-btn svg, .app-bar header .v-btn i {
        font-size: 20px !important;
    }

    .center-btn {
        height: 47px !important;
        margin: 3px !important;
    }

    .app-menu .v-toolbar__content .icon-bar button {
        min-width: 0px;
        padding: 0 8px;
    }

    .app-menu {
        height: 80px !important;
    }

    .app-menu .v-app-bar-title, .app-menu .v-toolbar__append {
        margin-top: 30px !important;
    }

    .app-menu .v-app-bar-title, .app-menu .v-toolbar__content .icon-bar button .v-btn__content i,.app-menu .v-toolbar-title__placeholder  {
        font-size: 17px !important;
    }

    .main-contain-app .card-content {
        /*height: 335px !important;*/
    }

    /*.main-contain-app-slider .card-slider,.card-app {*/
    /*    height: 112px !important;*/
    /*    width: 67px !important;*/
    /*    margin: 5px !important;*/
    /*}*/

    .app-bar .setting-avatar .v-avatar.v-avatar--density-default {
        width: 32px;
        height: 32px;
    }

}

/* Styles for devices with a width of 280px */
@media only screen and (max-width: 280px) {

    .v-bottom-navigation .v-bottom-navigation__content > .v-btn {
        max-width: 45px !important;
        min-width: 10px !important;
    }

    .app-bar header {
        height: 80px !important;
    }

    .main-contain-app .card-content {
        /*height: 320px !important;*/
    }

    /*.main-contain-app-slider .card-slider , .card-app {*/
    /*    height: 105px !important;*/
    /*    width: 60px !important;*/
    /*    margin: 4px !important;*/
    /*}*/

}


/*
    cropper style
*/

.upload-example {
    margin-top: 20px;
    margin-bottom: 20px;
    user-select: none;
}

.upload-example__cropper {
    border: solid 1px #3b3a3a !important;
    min-height: 300px;
    max-height: 500px;
    width: 100%;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.upload-example__cropper-wrapper {
    position: relative;
}