<template>
  <page-loader></page-loader>


  <div class="mt-2 login">
        <v-row class="justify-center">
            <v-col cols="12" sm="8" md="4">
                <v-card class="color-content">
                    <v-card-title class="text-center">
                        <h2 class="headline mt-2">{{ !codeSent ? $t('auth.login_app') : $t('auth.verification_code') }}</h2>
                    </v-card-title>

                    <!-- Display error notification if 'error' is not null -->
                  <snackbar-notification :message="notification.message" :type="notification.type" :timeout="timeoutDuration" v-if="notificationVisible"/>

                  <v-form @submit.prevent="login" class="mt-1">
                    <v-text-field
                        v-model="email"
                        type="Email"
                        :label="$t('attributes.email')"
                        required
                        :error-messages="getErrorMessages('email')"
                    ></v-text-field>
                    <v-text-field
                        v-model="password"
                        type="password"
                        :label="$t('attributes.password')"
                        required
                        :error-messages="getErrorMessages('password')"

                    ></v-text-field>

                    <v-btn
                        type="submit"
                        block
                        class="v-btn--color-name"
                        :disabled="isLoading"
                        :loading="isLoading"
                    >
                      {{ $t('attributes.login') }}
                    </v-btn>
                  </v-form>

                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script setup>
import { ref } from 'vue';
import {fetchApiData, handleApiError} from "~/utils/apiHandler";
import PageLoader from "~/components/pages/PageLoader.vue";
import {useI18n} from "vue-i18n";
import SnackbarNotification from "~/components/tools/SnackbarNotification.vue";

const router = useRouter();

const { t } = useI18n();
const email = ref('');
const password = ref(false);
const notification = ref(null);
const errorValidations = ref(null);
const isLoading = ref(false);
const config = useRuntimeConfig()

const notificationVisible = ref(false); // Add this line
const timeoutDuration = ref(parseInt(config.public.alertTimeoutDuration) || 10000);


function getErrorMessages(inputName) {
    return errorValidations.value ? errorValidations.value[inputName] || [] : '';
}

useHead({
  // titleTemplate: "%s - " + t('title.index')
  titleTemplate: (title) => {
    return title ? title + ' - ' + t('pages.login.title') : t('pages.login.title')
  },
  meta: [
    {name: 'description', content: 'description'},
    {name: 'viewport', content: 'width=device-width, initial-scale=1'},
    {charset: 'utf-8'}
  ]
});

async function login() {

  const fetchData = await fetchApiData(config.public.api.login, 'post', {
    email: email.value,
    password: password.value,
  });

  if (!fetchData.error) {
    const response = fetchData.result;

    localStorage.setItem('token', JSON.stringify(response.access_token))

    router.push(config.public.url.index)

  } else {
    handleApiError(fetchData, errorValidations, notification, notificationVisible, isLoading, timeoutDuration.value);
  }
}

</script>

