<template>
    <v-app-bar
            class="app-menu"
            density="compact">
<!--        <template v-slot:prepend>
            <v-app-bar-nav-icon></v-app-bar-nav-icon>
        </template>-->

        <v-img
                class="mx-2 mt-10"
                :src="config.public.singleLogo"
                max-height="45"
                max-width="45"
                contain
        ></v-img>

        <template v-slot:append>
          <setting :pc="false"/>
        </template>
    </v-app-bar>
</template>

<script setup>
import Search from "~/components/tools/Search.vue";
import Setting from "~/components/tools/Setting.vue";
import Notification from "~/components/tools/Notification.vue";

const name = "AppBar";
const components = { Notification, Setting, Search };
const config = useRuntimeConfig();

// async function pc() {
//   return false
// }
</script>

<style scoped>

</style>