<template>
  <v-layout class="overflow-visible app-bar" style="height: 130px;">
    <v-bottom-navigation
        v-model="value"
        active
    >
      <v-btn :to="config.public.url.index">
          <font-awesome-icon :icon="['fas', 'house']" />
      </v-btn>

      <v-btn :to="config.public.url.deliveryTruck.index">
          <font-awesome-icon  :icon="['fas', 'file']" />
      </v-btn>

      <v-btn class="center-btn" :to="config.public.url.order.index">
          <font-awesome-icon :icon="['fas', 'bag-shopping']" />
      </v-btn>
        <v-btn :to="config.public.url.tenant.index">
            <font-awesome-icon :icon="['fass', 'file']" />
        </v-btn>
        <v-btn class="setting-avatar" >
<!--            <font-awesome-icon :icon="['fas', 'user']" />-->
          <v-avatar>
            <v-img
                :src="config.public.singleLogo"
                alt="John"
            ></v-img>
          </v-avatar>
        </v-btn>
    </v-bottom-navigation>
  </v-layout>
</template>

<script>
export default {
  name: "AppNavButtom",
  data: () => ({
    value: 0,
    config: useRuntimeConfig()
  }),
}
</script>

<style scoped>

</style>