<template>
  <page-loader></page-loader>
  <v-container class="mt-2">
    <v-row justify="center">
      <v-col cols="12" sm="8" md="8">
        <v-card prepend-icon="mdi-pencil" :title="$t('create_order')" class="mb-2 card-content">

          <v-card-text>
            <v-form @submit.prevent="submitOrder">
              <snackbar-notification :message="notification.message" :type="notification.type" :timeout="timeoutDuration" v-if="notificationVisible"/>

              <v-select
                  v-model="clientId"
                  :items="clients"
                  :label="$t('attributes.client')"
                  required
                  item-value="id"
                  item-title="name"
                  :error-messages="getErrorMessages('clientId')"
              ></v-select>
              <v-select
                  v-model="deliveryTruckId"
                  :items="deliveryTrucks"
                  :label="$t('attributes.delivery_truck')"
                  required
                  item-value="id"
                  item-title="name"
                  :error-messages="getErrorMessages('deliveryTruckId')"
              ></v-select>
              <v-text-field
                  v-model="amount"
                  :label="$t('attributes.amount')"
                  required
                  type="text"
                  item-value="id"
                  item-title="name"
                  :error-messages="getErrorMessages('amount')"
              ></v-text-field>
              <v-btn

                  block
                  color="success"
                  size="large"
                  type="submit"
                  variant="elevated"
                  class="v-btn--color-name"
              >
                {{ $t('attributes.create') }}
              </v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import SnackbarNotification from "~/components/tools/SnackbarNotification.vue";
import PageLoader from "~/components/pages/PageLoader.vue";

const clientId = ref(null);
const deliveryTruckId = ref(null);
const amount = ref('');

const clients = ref([]);
const deliveryTrucks = ref([]);
const config = useRuntimeConfig();
const router = useRouter();

const errorValidations = ref(null);
const notification = ref(null);
const isLoading = ref(false);
const notificationVisible = ref(false); // Add this line
const timeoutDuration = ref(parseInt(config.public.alertTimeoutDuration) || 10000);


definePageMeta({
  middleware: 'auth'
});

function getErrorMessages(inputName) {
  return errorValidations.value ? errorValidations.value[inputName] || [] : '';
}

const fetchClientsAndTrucks = async () => {
  // Fetch clients and delivery trucks from your API
  try {
    const clientsResponse = await fetchApiData(config.public.api.client.select);
    const trucksResponse = await fetchApiData(config.public.api.deliveryTruck.select);

    clients.value = clientsResponse.result;
    deliveryTrucks.value = trucksResponse.result;
  } catch (error) {
    console.error('Error fetching clients and trucks:', error);
  }
};

const submitOrder = async () => {
  try {

    const response = await fetchApiData(config.public.api.order.store, 'post',  {
      client_id: clientId.value,
      delivery_truck_id: deliveryTruckId.value,
      fuel_amount: amount.value,
    });

    if (!response.error) {
      router.push(config.public.url.order.index)
    }
    else {
      handleApiError(response, errorValidations, notification, notificationVisible, isLoading, timeoutDuration.value);
    }

  } catch (error) {
    console.error('Error creating order:', error);
  }
};

onMounted(() => {
  // Fetch clients and delivery trucks when the component is mounted
  fetchClientsAndTrucks();
});

</script>

<style scoped>
/* Add your custom styles here */
</style>
