<template>
  <div>
    <!-- Your page content here -->
    <page-loader></page-loader>
  </div>
  <v-app>
    <v-locale-provider>
      <navigator v-if="isPc"/>
      <page-header v-if="isPc"/>
      <app-bar v-else/>

      <div :class="['main-contain', isPc ? 'main-contain-pc' : 'mx-auto main-contain-app']">

        <v-card class="default-card">
          <v-layout>
            <v-main style="width: 100%" class="">
              <slot/>
            </v-main>
            <!--                <page-footer/>-->
          </v-layout>
          <app-nav-bottom v-if="!isPc"/>
        </v-card>
      </div>
    </v-locale-provider>

  </v-app>
</template>


<script>
import PageFooter from "~/components/layout/pc/PageFooter.vue";
import PageHeader from "~/components/layout/pc/PageHeader.vue";
import Navigator from "~/components/layout/pc/Navigator.vue";
import AppBar from "~/components/layout/app/AppBar.vue";
import AppNavBottom from "~/components/layout/app/AppNavBottom.vue";
import PageLoader from "~/components/pages/PageLoader.vue";
import {detectDeviceType} from "~/utils/helper";

export default {
    name: "defaults",
    components: {PageLoader, AppNavBottom, AppBar, Navigator, PageHeader, PageFooter},
    data() {
        return {
            isPc: true, // Set this value based on device detection logic
        };
    },
    mounted() {
        this.detectDeviceType();
        window.addEventListener('resize', this.detectDeviceType);

        // Set the theme based on the value in localStorage
        const savedTheme = localStorage.getItem('theme');

        if (savedTheme) {
            this.$vuetify.theme.global.name = savedTheme;
        }

    },
    beforeDestroy() {
        window.removeEventListener('resize', this.detectDeviceType);
    },
    methods: {
        detectDeviceType() {
            // const isPc = window.matchMedia('(min-width: 1025px)').matches;
            this.isPc = detectDeviceType();
        },
    },
}

</script>