<template>
  <v-app>
    <v-main>
      <v-container fluid fill-height>
        <v-layout fill-height justify-center align-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark>
                <v-toolbar-title>
                  Error Page
                </v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <div class="headline">{{ error.message }}</div>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" >Go Back</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>

<style>
.v-application .primary {
  background-color: #F06543 !important;
  border-color: #F06543 !important;
}
.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined).primary {
  background-color: #F09D51 !important;
  border-color: #F09D51 !important;
}
</style>


<script setup>
import { defineProps } from 'vue'

const props = defineProps({
  error: Error
})
</script>

<!--<script>-->
<!--export default {-->
<!--  data() {-->
<!--    return {-->
<!--      theme: false-->
<!--    }-->
<!--  },-->
<!--  methods: {-->
<!--    goBack() {-->
<!--      this.$router.go(-1)-->
<!--    }-->
<!--  },-->
<!--  created() {-->
<!--    // Determine the theme based on some condition.-->
<!--    // For now, just set it to true for dark theme.-->
<!--    this.theme = true-->
<!--  }-->
<!--}-->
<!--</script>-->
