<template>
  <v-navigation-drawer
     expand-on-hover
     rail
     class="pc-nav"
  >
    <!-- Your navigation drawer content here -->
    <v-list>
      <v-list-item
          :prepend-avatar="prependAvatar"
          :title="titleList"
          :subtitle="subtitleList"

      ></v-list-item>
    </v-list>

<!--    <v-divider></v-divider>-->

    <v-list density="compact" nav class="list-nav-pc">
      <v-list-item  class="child-list" :to="config.public.url.index"  prepend-icon="md:home" :title="$t('menu.home')" value="home"></v-list-item>
<!--      <v-list-item  class="child-list" prepend-icon="mdi-account-group" :to="config.public.url.client" :title="$t('attributes.client')"  value="client"></v-list-item>-->
      <v-list-item  class="child-list" :to="config.public.url.order.index" prepend-icon="mdi-shopping" :title="$t('attributes.orders')" value="orders"></v-list-item>
      <v-list-item  class="child-list" prepend-icon="mdi-file" :to="config.public.url.tenant.index" :title="$t('attributes.tenant')" value="tenant"></v-list-item>
      <v-list-item  class="child-list" prepend-icon="mdi-file" :to="config.public.url.deliveryTruck.index" :title="$t('attributes.delivery_truck')"  value="delivery-truck"></v-list-item>
      <!--      <v-list-item prepend-icon="mdi-user" :title="$t('menu.account')" value="starred"></v-list-item>-->
    </v-list>
  </v-navigation-drawer>
</template>

<script setup>
import {useI18n} from "vue-i18n";
import {watch} from "vue";

const {t} = useI18n();
const name = "Navigator";
const drawer = ref(true);
const rail = ref(true);
const config = useRuntimeConfig();

const prependAvatar = ref(config.public.singleLogo);
const titleList = ref(t('app_name'));
const subtitleList = ref('');


</script>

<style scoped>

</style>