<template>
  <v-app-bar
      color="primary"
      prominent
      class="page-header"
  >


    <v-spacer></v-spacer>

    <btn-login></btn-login>
    <setting :pc="true" />

  </v-app-bar>
</template>

<script setup>
import Setting from "~/components/tools/Setting.vue";
import BtnLogin from "~/components/tools/btnLogin.vue";

</script>

<style scoped>

</style>