<template>
  <page-loader></page-loader>
  <v-container class="mt-2" v-if="boxData == true">

    <v-row justify="center">
      <v-col cols="12" md="12">
        <v-card :title="$t('register_for_buy_fuel')" class="mb-2 card-content">
          <v-card-subtitle>
            <p><b>{{ $t('attributes.client_name') }}:</b> {{ dataResult.client_name }}</p>
            <p><b>{{ $t('attributes.address') }}:</b> {{ dataResult.address }}</p>
            <p><b>{{ $t('attributes.mobile') }}:</b> {{ dataResult.mobile }}</p>
          </v-card-subtitle>

        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <v-container class="mt-2" v-else>
    <v-row justify="center">
      <v-col cols="12" md="12">
        <v-card :text="$t('explain_for_client_order')" class="mb-2 card-content"></v-card>
        <v-card prepend-icon="mdi-pencil" :title="$t('register_for_buy_fuel')" class="mb-2 card-content">
          <v-card-text>
            <v-form @submit.prevent="submitClient">
              <snackbar-notification :message="notification.message" :type="notification.type" :timeout="timeoutDuration" v-if="notificationVisible"/>
              <v-text-field
                  v-model="ClientName"
                  :label="$t('attributes.client_name')"
                  required
                  :error-messages="getErrorMessages('ClientName')"
              ></v-text-field>
              <v-text-field
                  v-model="Address"
                  :label="$t('attributes.address')"
                  required
                  :error-messages="getErrorMessages('Address')"
              ></v-text-field>
              <v-text-field
                  v-model="mobile"
                  :label="$t('attributes.mobile')"
                  :error-messages="getErrorMessages('mobile')"
              ></v-text-field>

              <v-select v-model="TenantId"
                        :items="tenants"
                        :label="$t('attributes.tenant')"
                        required
                        item-value="id"
                        item-title="name"
                        :error-messages="getErrorMessages('TenantId')"
              ></v-select>
              <v-btn

                  block
                  color="success"
                  size="large"
                  type="submit"
                  variant="elevated"
                  class="v-btn--color-name"
              >
                {{ $t('attributes.create') }}
              </v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import {handleApiError} from "~/utils/apiHandler";
import SnackbarNotification from "~/components/tools/SnackbarNotification.vue";
import PageLoader from "~/components/pages/PageLoader.vue";

const ClientName = ref('');
const Address = ref('');
const mobile = ref('');
const TenantId = ref(null);
const config = useRuntimeConfig();
const errorValidations = ref(null);
const notification = ref(null);
const isLoading = ref(false);
const notificationVisible = ref(false); // Add this line
const timeoutDuration = ref(parseInt(config.public.alertTimeoutDuration) || 10000);

const tenants = ref([]);
const data = ref([]);
const dataResult = ref([]);
const boxData = ref(false);


const fetchTenants = async () => {
  try {
    const tenantsResponse = await fetchApiData(config.public.api.tenant.select);
    tenants.value = tenantsResponse.result;
  } catch (error) {
    console.error('Error fetching tenants:', error);
  }
};

function getErrorMessages(inputName) {
  return errorValidations.value ? errorValidations.value[inputName] || [] : '';
}

const submitClient = async () => {
  try {

    const response = await fetchApiData(config.public.api.client.store, 'post',
        {
          client_name: ClientName.value,
          address: Address.value,
          mobile: mobile.value,
          tenant_id: TenantId.value,
        }
    );

    if (!response.error) {
      data.value = response.result

      boxData.value = true
    }
    else {
      handleApiError(response, errorValidations, notification, notificationVisible, isLoading, timeoutDuration.value);
    }

    // Optionally, you can redirect to another page or perform other actions
  } catch (error) {
    // Handle the error, show an error message, etc.
    console.error('Error creating client:', error);
  }
};

watch(
    () => data.value,
    (newValue) => {
      dataResult.value = newValue
    }
);

onMounted(() => {
  // Fetch tenants when the component is mounted
  fetchTenants();
});
</script>

<style scoped>
/* Add your custom styles here */
</style>
