<template>
  <div v-if="isLoading">
    <div class="page-loader" :style="{ backgroundColor: bgColor }">
      <loader></loader>
    </div>
  </div>
</template>

<style scoped>
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: #313638; !* set color dark and light *!*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
</style>
<script setup>
import Loader from "~/components/tools/Loader.vue";

const isLoading = ref(true); // Set to false when your content has loaded

const bgColor = computed(() => {
    if (process.client) {
        const theme = localStorage.getItem('theme');
        return theme === 'dark' ? '#313638' : (theme === 'light' ? '#E0DFD5' : '#313638' /* default color */);
    }

    return "#E8E9EB"
});

onMounted(() => {
  // Hide the notification after 3 seconds
  setTimeout(() => {
    isLoading.value = false;
  }, 2000);
});

</script>