<template>
  <v-container v-if="isManager()">
    <v-row justify="center">
      <v-col cols="12" sm="8" md="8">
        <v-card prepend-icon="mdi-pencil" :title="$t('create_tenant')" class="mb-2 card-content">
          <v-card-text>
            <v-form @submit.prevent="submitTenant">
              <snackbar-notification :message="notification.message" :type="notification.type" :timeout="timeoutDuration" v-if="notificationVisible"/>
              <v-text-field
                  v-model="name"
                  :label="$t('attributes.tenant_name')"
                  required
                  :error-messages="getErrorMessages('name')"
              ></v-text-field>
              <v-text-field
                  v-model="domain"
                  :label="$t('attributes.domain')"
                  :error-messages="getErrorMessages('domain')"

              ></v-text-field>
              <v-text-field
                  v-model="email"
                  :label="$t('attributes.email')"
                  :error-messages="getErrorMessages('email')"
                  required
                  type="email"
              ></v-text-field>
              <v-text-field
                  v-model="password"
                  :label="$t('attributes.password')"
                  required
                  type="password"
                  :error-messages="getErrorMessages('password')"

              ></v-text-field>
              <v-text-field
                  v-model="password_confirmation"
                  :label="$t('attributes.confirm_Password')"
                  required
                  type="password"
              ></v-text-field>
              <v-btn

                  block
                  color="success"
                  size="large"
                  type="submit"
                  variant="elevated"
                  class="v-btn--color-name"
              >
                {{ $t('attributes.create') }}
              </v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <v-container class="mt-10"  v-else>
    <v-row justify="center">
      <v-col cols="12" md="12">
        <main-alert>

          {{ $t('not_access') }}
        </main-alert>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { ref } from 'vue';
import MainAlert from "~/components/tools/mainAlert.vue";
import SnackbarNotification from "~/components/tools/SnackbarNotification.vue";

const name = ref('');
const domain = ref('');
const email = ref('');
const password = ref('');
const password_confirmation = ref('');

const config = useRuntimeConfig();
const router = useRouter();

const errorValidations = ref(null);
const notification = ref(null);
const isLoading = ref(false);
const notificationVisible = ref(false); // Add this line
const timeoutDuration = ref(parseInt(config.public.alertTimeoutDuration) || 10000);

const submitTenant = async () => {
  try {
    if (isManager()) {

      const response = await fetchApiData(config.public.api.tenant.store, 'post', {
        name: name.value,
        domain: domain.value,
        email: email.value,
        password: password.value,
        password_confirmation: password_confirmation.value,
      });

      if (!response.error) {
        router.push(config.public.url.tenant.index)

      }
      else {
        handleApiError(response, errorValidations, notification, notificationVisible, isLoading, timeoutDuration.value);
      }
    }

  } catch (error) {
    console.error('Error creating tenant:', error);
  }
};

function getErrorMessages(inputName) {
  return errorValidations.value ? errorValidations.value[inputName] || [] : '';
}

definePageMeta({
  middleware: 'auth'
});


</script>

<style scoped>
/* Add your custom styles here */
</style>
