<template>

  <div v-if="isManager()">
  <v-container>
    <v-row class="mt-2">
      <v-col cols="12">
        <v-btn v-if="CreateUrl" class="btn-right v-btn--color-name" :to="CreateUrl">
          {{ $t('attributes.create') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-container>

  <tenant-data :data-url-api="GetDataUrlApi" ></tenant-data>
  </div>

  <main-alert v-else>
    {{ $t('not_access') }}
  </main-alert>

</template>

<script setup>
import TenantData from "~/components/TenantData.vue";
import MainAlert from "~/components/tools/mainAlert.vue";

const config = useRuntimeConfig()

const GetDataUrlApi = ref(config.public.api.tenant.index);
const CreateUrl = ref(config.public.url.tenant.create);

definePageMeta({
  middleware: 'auth'
});

</script>

<style scoped>

</style>